body{
  font-family: "Poppins";
}


.login-form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.login-form h2{
    font-size: 3rem;
    font-family: "Poppins";
}
.input-icon {
  display: flex;
  gap: 2rem;
  margin: 3rem;
  align-items: center;
  width: 25rem;
}
.icon {
  font-size: 3rem;
}
.input-icon input {
  padding: 0.8rem 0.5rem;
  font-size: 1.12rem;
  outline: none;
  width: 100%;
  font-family: "Poppins";
}
.input-icon input::placeholder {
  color: black;
  font-size: 1.12rem;
  font-family: "Poppins";
}
.btns {
  display: flex;
  justify-content: space-around;
}
.btns input {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  border: 01px solid;
  font-weight: bold;
  color: aliceblue;
  cursor: pointer;
  margin-top: 1rem;
}
.btns input:first-child {
  background-color: #08b608;
}
.btns input:first-child:hover {
  background-color: #118e11;
}
.btns input:last-child {
  background-color: rgb(232, 71, 42);
}
.btns input:last-child:hover {
  background-color: rgb(183, 47, 23);
}
.svg1{
  position: absolute;
  top: 0;
  z-index: -10;
  }
  .svg2{
    position: absolute;
    right: 0px;
    bottom: -4px;
  }